{% extends "base.html" %}
{% block title%}
Mission
{% endblock %}

{% block content%}
<div class="container-fluid mt-3">
  <h4>Waypoints Manager</h4>
  <div class="mb-3">
    <form action="{{ url_for('mission_page') }}" method="post" class="d-inline">
      <input type="hidden" name="add" value="add">
      <button type="submit" class="btn btn-primary"> Add a Waypoint </button>
    </form>
    <button onclick="refreshPage()" class="btn btn-info"> Refresh Waypoints</button>
  </div>

  <h4>Waypoints in the Database</h4>
  {% include "mission_page/waypoints_table.html" %}
</div>
{% endblock %}

{% block script%}
<script>
  function refreshPage() {
    // Use the location object to reload the current page
    location.reload();
  }
</script>
{% endblock %}