{% extends "base.html" %}
{% block title%}
Add Waypoint
{% endblock %}

{% block content%}
<div class="container mt-4">
    <div class="col-md-6 offset-md-3">
        <h1 class="h3 mb-3 font-weight-normal">
            Add a New Waypoint
        </h1>
        <form method="POST" action="{{ url_for('mission_bp.add_waypoint_page') }}" class="form-register" style="color:white">
            {{ form.hidden_tag() }}

            <div class="form-group mb-3">
                {{ form.lat.label(class="form-control-label") }}
                {{ form.lat(class="form-control bg-dark text-white", placeholder="Latitude (e.g., 40.123456)") }}
            </div>

            <div class="form-group mb-3">
                {{ form.lon.label(class="form-control-label") }}
                {{ form.lon(class="form-control bg-dark text-white", placeholder="Longitude (e.g., -70.123456)") }}
            </div>

            <div class="form-group mb-3">
                {{ form.alt.label(class="form-control-label") }}
                {{ form.alt(class="form-control bg-dark text-white", placeholder="Altitude (e.g., 2.0)") }}
            </div>

            <div class="form-group mb-3">
                {{ form.surge.label(class="form-control-label") }}
                {{ form.surge(class="form-control bg-dark text-white", placeholder="Surge Velocity (e.g., 0.5)") }}
            </div>

            {{ form.submit(class="btn btn-primary") }}
            <a href="{{ url_for('mission_bp.mission_page') }}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}